=lightsaber($color)
  background: mix($color, #fff, 10%)
  $back: mix($color, #fff, 10%)
  box-shadow: $back 0px 0px 0px 2px
  &:hover
    box-shadow: $color 0px 0px 20px 2px

.l-card-container
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 20px;

  .display-card
    text-align: center
    color: white
    list-style-type: none
    border-radius: 15px
    height: 300px
    background-size: cover
    background-position: center

  .LukeSkywalker
    background-image: url('./assets/imgs/Luke Skywalker.jpg')

  .C-3PO
    background-image: url('./assets/imgs/C-3PO.jpg')

  .R2-D2
    background-image: url('./assets/imgs/R2-D2.jpg')

  .LeiaOrgana
    background-image: url('./assets/imgs/Leia Organa.jpg')

  .OwenLars
    background-image: url('./assets/imgs/Owen Lars.jpg')

  .DarthVader
    background-image: url('./assets/imgs/Darth Vader.jpg')

  .BeruWhitesunlars
    background-image: url('./assets/imgs/Beru Whitesun lars.jpg')

  .R5-D4
    background-image: url('./assets/imgs/R5-D4.jpeg')

  .BiggsDarklighter
    background-image: url('./assets/imgs/Biggs Darklighter.jpg')

  .Obi-WanKenobi
    background-image: url('./assets/imgs/Obi-Wan Kenobi.jpg')
