=lightsaber($color)
  background: mix($color, #fff, 10%)
  box-shadow: $color 0px 0px 0px 2px
  &:hover
    box-shadow: $color 0px 0px 20px 2px
    text-shadow: $color 0px 0px 6px, $color 0px 0px 10px
  
.nav-logo
  height: 50px

.nav-container
  display: flex

nav  
  font-family: 'Audiowide', cursive
  color: white 
  position: relative 
  transition: transform 0.5s ease 

  .menu  
    width: 200px
    width: 100vw
    list-style: none 
    padding: 0 
    margin: 0 

    .menu-btn  
      +lightsaber(#4df) 
      font-size: 1.75em 
      line-height: 16pt
      padding: 0px
      height: 20px
      margin: 26px 0px 
      position: relative
      left: 4rem
      max-width: 200px
      width: 0%
      border-radius: 0px 100px 100px 0px 
      transition: width 0.5s ease, padding 0.5s ease, color 0.2s ease, text-shadow 0.5s ease 
      &:hover  
        width: 80% 
        color:  black 
       
      a
        text-decoration: none 
        color: inherit 
        max-width: 200px
        width: 200px
        padding-left: 16px
       
      &.green  
        @include lightsaber(#0F0) 
       
      &.red  
        @include lightsaber(#F00) 
       
      &.purple  
        @include lightsaber(#c0c) 
       
      &.yellow  
        @include lightsaber(#FF0) 
       
#logo-parent
  text-align: center

// font-family: 'Audiowide', cursive