.nav-container
  background-color: black
  display: flex
  justify-content: space-between
  align-items: flex-end

  .buttons-container
    display: flex
    justify-content: flex-end

  .title
    font-family: 'Notable', sans-serif;
    color: yellow
    font-size: 3.5em

  button 
    background-color: black
    color: white
    border: none
    font-size: 2em
    margin: 0 10px
    text-transform: uppercase
    border-bottom: 5px solid black
    padding-bottom: 20px
    font-family: 'Audiowide', cursive;

    &:hover
      border-bottom: 5px solid yellow
      cursor: pointer