.l-app 
  display: grid
  grid-template-areas: "Landing""Main"
  background-image: url('./assets/imgs/stars.jpeg')
  height: 100%

  .l-landing
    grid-area: Landing
    height: 100vh
    border-bottom: 3px solid black
    text-align: center
  
  .l-main 
    grid-area: Main
    display: grid
    grid-template-areas: "nav" "display"
    grid-template-rows: 1.5fr 8.5fr 
    height: 100vh

    .l-card-container
      grid-area: display
    
    .l-nav
      grid-area: nav
      height: 100%
      display: grid
      grid-template-areas: "burger" "nav-container"
      grid-template-rows: 1fr 2fr

    .nav-container
      grid-area: nav-container

.l-card-container
  // background-image: url('./assets/imgs/stars.jpeg')
  background-size: cover
