.l-app 
  display: grid
  grid-template-areas: "Landing""Main"

  .l-landing
    background-image: url('./assets/imgs/stars.jpeg')
    grid-area: Landing
    height: 100vh
    border-bottom: 3px solid black
    text-align: center
  
  .l-main 
    grid-area: Main
    display: grid
    grid-template-areas: "nav display"
    grid-template-columns: 1.5fr 8.5fr 
    height: 100vh

    .l-card-container
      grid-area: display
    
    .l-nav
      grid-area: nav
      height: 100%
      display: grid
      grid-template-areas: "Logo-slash-Trivia" "burger" "nav"
      grid-template-rows: 2fr 1fr 7fr

    .nav-logo
      grid-area: Logo-slash-Trivia

    .nav-btns
      grid-area: btns

.l-card-container
  background-image: url('./assets/imgs/stars.jpeg')
  background-size: cover
